<html>

    <head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript">
        var app = angular.module('tutorial', []);
        app.controller('PlaylistCtrl', PlaylistCtrl);
        function PlaylistCtrl($scope) {
            $scope.currentSong = ''; 
            $scope.playlist = [];

            $scope.addSong = function() {
                $scope.playlist.push($scope.currentSong);  
                $scope.currentSong = '';
            };

            $scope.removeSong = function(index) {
                $scope.playlist.splice(index, 1);
            };

        }
	</script>
    </head>

    <body ng-app="tutorial">

        <div ng-controller="PlaylistCtrl">
            <input type="text" ng-model="currentSong"></input>
            <button type="button" ng-click="addSong()">Add</button>

            <ul>
                <li ng-repeat="song in playlist track by $index">
                    {{ song }} <button type="button" ng-click="removeSong($index)">Remove</button>
                </li>
            </ul>
        </div>

    </body>

</html>
