<html>

    <head>
      <script type="text/javascript" src="angular.js"></script>
      <script type="text/javascript" src="app.js"></script>
    </head>

    <body ng-app>

      <div ng-controller="PlaylistCtrl">
        <input type="text" ng-model="currentSong"></input> 
        <button type="button" ng-click="addSong()">Add</button>
        <br>
        <input type="text" ng-model="currentName"></input>
        <button type="button" ng-click="savePlaylist()">Save</button> 

        <h2>New Playlist</h2>
        <ul>
          <li ng-repeat="song in playlist">
            {{ song }} <button type="button" ng-click="removeSong(song)">Remove</button>
          </li>
        </ul>
        
        <h2>Saved Playlists</h2>
        <h3 ng-repeat="savedPlaylist in savedPlaylists | orderBy:'name'"
            ng-click="setCurrentPlaylist(savedPlaylist)">
          {{ savedPlaylist.name }}
        </h3>

        <h2>Current Playlist ({{ currentPlaylist.name }})</h2>
        <ul>
          <li ng-repeat="song in currentPlaylist.playlist">
            {{ song }}
          </li>
        </ul>

      </div>

    </body>

</html>
